body {
    background: rgb(201, 201, 201);
    margin: 0px;
    padding: 0px;


    /* custom prop */
    --btn-bg-color: rgb(228, 118, 137);
    --btn-border-color: rgb(224, 164, 192);
    --btn-hover-color: rgb(211, 106, 124);
}

#newTodoBtn {
    background-color: rgb(228, 118, 137);
    font-size: 4.5rem;
    color: white;
    padding: 0px 20px 0px;
    border: 5px solid rgb(224, 164, 192);
    border-radius: 90px;
    position: absolute;
    box-shadow: 5px 6px 13px 3px rgba(0,0,0,0.34);
    bottom: 10px;
    right: 10px;
}

#newTodoBtn:hover {
    background-color: rgb(211, 106, 124);
    /* border: 5px solid rgb(194, 137, 163); */
}


#newTodoBtn:active {
    bottom: 8px;
    right: 8px;
}

/* New todo modal */
::backdrop {
    background: rgb(206, 200, 200);
    opacity: 0.50;
}

dialog {
    padding: 0px;
    border: 3px solid grey;
    border-radius: 15px;
    font-size: 1.5rem;
}

dialog > div {
    padding: 24px;
}

dialog input {
    margin-top: 10px;
    border: 0px;
    border-bottom: 2px solid lightgrey;
    padding: 10px 20px 10px;
    font-size: 1.5rem;
}

input:hover {
    background-color: rgb(235, 235, 235);
}

dialog input:focus {
    outline: none;
    border: 0px;
    border-bottom: 2px solid lightgrey;
}

#priorityCon {
    display: flex;
    gap: 15px;
    align-items: center;
}

#priorityCon > button {
    font-size: 1.2rem;
    border-radius: 15px;
    padding: 3px 5px 3px;
}

#priorityCon > button.selected {
    background-color: rgb(223, 223, 223);
    border: 5px solid rgb(0, 0, 0);
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: -3px -3px 13px 3px rgba(0,0,0,0.34);
}

dialog button:active {
    position: relative;
    top: 1px;
    left: 1px;
}

#trivialBtn {
    background-color: rgb(199, 245, 199);
    border: 5px solid rgb(40, 126, 40);
}

#trivialBtn:hover {
    background-color: rgb(168, 214, 168);
}



#standardBtn {
    background-color: rgb(245, 237, 199);
    border: 5px solid rgb(126, 113, 40);
}

#standardBtn:hover {
    background-color: rgb(214, 206, 168);
}



#imptBtn {
    background-color: rgb(245, 199, 199);
    border: 5px solid rgb(126, 40, 40);
}

#imptBtn:hover {
    background-color: rgb(214, 171, 168);
}



.buttongrp {
    display: flex;
    justify-content: right;
}

button.submit {
    padding: 7px;
    font-size: 1.2rem;
    background-color: var(--btn-bg-color);
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: 3px solid  var(--btn-border-color);
}

button.submit:hover {
    background-color: var(--btn-hover-color);
}

#Pcontainer {
    display: flex;
    gap: 20px;
    align-items: center;
}

select {
    border-radius: 15px;
    font-size: 1.2rem;
    padding: 5px;
}